.imza{
    background-position-y: 0px !important;
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    padding: 15px;
    background-color: #fff;
    text-align: center;


}
     .imza a{
         font-family: inherit;
         font-weight: 600;
    text-decoration: none;
         color: #494d4a;     
     }
     .logo-holder1{padding: 20px; }
     .logo-holder1 img{max-width: 350px;

     }
     .text-holder1 ul li{
         display: inline-block;
         padding: 0 16px;
         position: relative;
         font-size: 14px;
     }
     .text-holder1 ul li:after{
         content: '';
         display: block;
         width: 1px;
         height: 12px;
         background-color:#fff;
         position: absolute;
         right: 0;
         top:4px;

     }
     .text-holder1 ul li :last-child:after{ display: none;}
     @media only screen and (max-width:600px){.imza{display: none;}}